@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap");

body {
  font-family: "Cormorant SC", serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
nav {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Sections */
.nav1 {
  display: inline;
  padding: 5%;
}
.nav2 {
  display: inline;
  padding: 5%;
}
.vector {
  width: auto;
  border: 1px solid black;
}
.name {
  font-size: 40px;
  display: inline-block;
}

.prof {
  display: inline-block;
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;
}
.lang {
  width: max-content;
  display: inline-block;
}
.lang span {
  color: grey;
}
.photo {
  height: 70%;
  width: 70%;
  display: block;
  margin: auto;
  padding-bottom: 2%;
}
.bio2 {
  text-align: center;
}
.first {
  max-height: max-content;
  background-color: rgb(255, 255, 255);
  padding-left: 15%;
  padding-right: 15%;
}

.second {
  background-color: rgb(211, 209, 209);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 40px;
}
.bold {
  font-size: 40px;
  text-align: center;
}
.third {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.skills {
  font-size: 40px;
}

.work {
  padding-bottom: 2%;
}
.star {
  font-size: 40px;
  display: block;
}
.skills-photo {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}
.fourth {
  background-color: rgb(211, 209, 209);
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.photo2 {
  width: 100%;
  height: 100%;
}
.line {
  padding-top: 1%;
  padding-bottom: 7%;
  color: black;
}
.contacts {
  text-align: center;
}
.button {
  background-color: black;
  border-radius: 30px;
  height: 70px;
  width: 300px;
  color: white;
  font-size: 40px;
}
.svg {
  height: 80px;
  width: 80px;
  padding: 2% 2% 2% 2%;
}
.last {
  padding: 2% 0 5% 0;
  color: grey;
}
